body{
    margin: 0 auto;
    max-width: 1300px;     
    padding: 20px;        
    font-family: sans-serif;

}
.auth-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 0 auto;
}

.greet{
    display: flex;
    align-items: center;
    justify-content: center;
}

.log{
    color: black;
    display: flex;
    justify-content: right;
    align-items: flex-start;
}

.log:hover{
    /* background-color: black; */
    color: rgb(103, 114, 114);

}

.heading{
    display: flex;
    justify-content: right;
    align-items: flex-start ;
}

.add-submit{
   display: inline-block;
   margin-left: 109px;
}
.submit{
    display: inline-block;
    margin-left: 163px;
}

.card{
    display: flex;
    background-color: #e5e7eb;
    border-radius: 12px;
    padding: 16px;
    margin-bottom: 16px;
    list-style: none;
    width: fit-content;
    color: black;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    margin-top: 0;
}
.card small{
    margin-top: auto;
}

.card-content, strong {
    white-space: pre-wrap;
}

.tabs{
    display: flex;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
}
.tab{
    flex: 1;    
    text-align: center;      
    padding: 9px;
    text-decoration: none;
    color: gray;
    background: #f5f5f5;
    border: 1px solid #ccc;
    font-weight: bold;
}

.tab:hover {
    background: black;
    color: white;
}

.tab.active {
    background:  white;
    color:  black;
    border-bottom: 3px solid black;
}

.left button {
    display: none;
}

.add-input {
    flex: 1;        
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.done{
    text-decoration: line-through ;
    opacity: 0.5;
}


.left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.right {
    position: relative;
   
}

.dropdown {
    display: none;        
    position: absolute;
    right: 0;
    left: auto;
    background: none;
    border: none;
    padding: 0;
    z-index: 10;
    box-shadow: none;
    top: 100%;
}

.dropdown button{
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px 8px;
    color: black;
    font-size: 14px;
    text-align: left;
}

.dropdown button:hover {
    color: rgb(103, 114, 114);
}

/* show dropdown when menu-btn is clicked - needs JS */
.dropdown.active {
    display: block;
}

.update-input {
    box-sizing: border-box;
    width: 250px;
    min-height: 100px;
    max-height: 300px;
    overflow-y: auto;
    font-size: 16px;
    font-family: sans-serif;
}
.update-submit{
    display: inline-block;
    margin-left: 190px;
}

.menu-btn {
    cursor: pointer;
    background: none;    
    border: none;         
    font-size: 20px;       
    font-weight: bold;     
    color: black;        
    padding: 0 8px;        
}
