<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    
    <h2 class="greet"> Welcome!</h2>
  
    <form class="auth-form" method="post" action="/login">
        <input type="text" name="username" placeholder="Enter your name" required>
        <input type="password" name="password" id="password"  placeholder="Enter your password" required>
        <button type="button" id="toggle">show password</button>
        <button type="submit">login</button>
        {% for message in get_flashed_messages() %}
        <p style="color: rgb(139, 135, 135);">{{ message }}</p>
        {% endfor %}
    </form>

    <script src="{{url_for('static', filename='script.js')}}"></script>


</body>
</html>